{% extends 'base.html' %}

{% block page_body %}

  <h2>{{ person.name }}</h2>

  <img src="{{ person.image }}" class="pull-right" alt="{{ person.name }} Photo"/>

  <ul>
    <li>Gender: {{ person.gender }}</li>
    <li>Birth date: {{ person.birth_date }}</li>
  </ul>

  <h4>Membeships</h4>
  <ul>
    {% for membership in person.memberships %}
    <li>{{ membership.role }} in <a href="{% url 'institution-detail' id=membership.organization_id.id %}">{{ membership.organization_id.name }}</a>
      {% if membership.area %}representing
        <a href="{{ membership.area.identifier }}.html">{{ membership.area.name }}</a> {% endif %}
      from {{ membership.start_date }}
      {% if membership.end_date %}to {{ membership.end_date }}{% endif %}</li>
    {% endfor %}
  </ul>

{% endblock %}